<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title | default: "Jake Applehans - SEO Web Developer & Analyst" }}</title>
    <meta name="description" content="My audit demo using Reveal.js.">
    <script type="module" src="/audit.js"></script>
    <link rel="stylesheet" href="/reveal/dist/reveal.css" />
    <link rel="stylesheet" href="/reveal/dist/theme/sky.css" />
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    {{ content }}

    <footer>
        Made by Jake Applehans with <a href="https://revealjs.com/">Reveal.js</a> &#128515;
    </footer>
</body>

</html>