<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jake Applehans - SEO Web Developer & Analyst</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BMRRR8HNXD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-BMRRR8HNXD");
    </script>
</head>
{% if page.url != '/' %}
<nav>
    <a href="/">main</a>
</nav>
{% endif %}
<main>
    {{ content }}
</main>

</html>