<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if page.url == "/" %}
        <link rel="canonical" href="https://applehand.dev" />
    {% else %}
        <link rel="canonical" href="https://applehand.dev{{ page.url }}" />
    {% endif %}
    <title>{{ title | default: "Jake Applehans - SEO Web Developer & Analyst"}}</title>
    <meta name="description" content="{{ description | default: "With expertise in SEO, full-stack development, and a diverse technical background, Jake brings a unique approach to problem-solving and data analysis."}}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BMRRR8HNXD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-BMRRR8HNXD");
    </script>
</head>
{% if page.url != '/' %}
<nav>
    <a href="/">main</a>
</nav>
{% endif %}
<main>
    {{ content }}
</main>

</html>